.p_invisible{
    display:none;
}

.dark-mode {
    background-color: rgb(59, 59, 59);
    color: white;
  }

  .inputModif{
    margin-left: 10px;
    border-radius: 5px;
    border: solid 0.3px;
  }

  .listes {
    padding-bottom: 10px;
  }

  .todos {
    padding-bottom: 5px;
  }

#footer {
   position:absolute;
   bottom:0;

}